Repository DataBiosphere/azul, pull requests merged in 2024-03, with the labels that each got.

#5981 Prevent unintentional generation of expensive manifests (#5533)
  lambdas/service/app.py
  lambdas/service/openapi.json
  test/service/test_manifest.py
  test/service/test_manifest_async.py
Labels: sandbox, orange, API, 0 reviews

#5943 Setup CloudWatch alarm for ClamAV notifications (#3895)
  UPGRADING.rst
  terraform/gitlab/gitlab.tf.json.template.py
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, 0 reviews, upgrade, deploy:gitlab, deploy:shared

#5993 Encode entity type in replica document ID (#5992)
  environment.py
  src/azul/__init__.py
  src/azul/indexer/document.py
  src/azul/indexer/document_service.py
  src/azul/indexer/index_service.py
  src/azul/indexer/transform.py
  src/azul/plugins/metadata/hca/indexer/transform.py
  src/azul/service/elasticsearch_service.py
  test/indexer/__init__.py
  test/indexer/data/826dea02-e274-affe-aabc-eb3db63ad068.results.json
  test/indexer/data/aaa96233-bf27-44c7-82df-b4dc15ad4d9d.2018-11-02T11:33:44.698028Z.results.json
  test/indexer/test_anvil.py
  test/indexer/test_indexer.py
  test/indexer/test_projects.py
  test/service/__init__.py
  test/service/test_response.py
Labels: sandbox, orange

#5996 Upgrade dependencies 2024-02-19 (#5970)
  UPGRADING.rst
  bin/wheels/runtime/python_dateutil-2.8.2-py2.py3-none-any.whl
  bin/wheels/runtime/python_dateutil-2.9.0.post0-py2.py3-none-any.whl
  environment.py
  image_manifests.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.trans.txt
  terraform/gitlab/gitlab.tf.json.template.py
Labels: sandbox, orange, 0 reviews, reqs, upgrade, deploy:gitlab, deploy:shared, deploy:runner

#6004 Fix: AWS event GetMacieSession results in AccessDenied error again (#5984, #5985)
  UPGRADING.rst
  src/azul/deployment.py
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, 1 review, upgrade, deploy:shared

#5968 Fix: Documents are not sliced during manifest generation (#5967)
  bin/wheels/runtime/attrs-22.2.0-py3-none-any.whl
  bin/wheels/runtime/attrs-23.1.0-py3-none-any.whl
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.txt
  src/azul/indexer/document.py
  src/azul/indexer/document_service.py
  src/azul/plugins/__init__.py
  src/azul/plugins/metadata/anvil/__init__.py
  src/azul/service/elasticsearch_service.py
  src/azul/service/manifest_service.py
  test/integration_test.py
  test/service/test_manifest.py
Labels: sandbox, orange, spike:1, reqs

#6000 Parameterize reindex job in GitLab with catalog to reindex (#5336)
  OPERATOR.rst
  environment.py
  scripts/reindex.py
  src/azul/__init__.py
Labels: sandbox, orange, 0 reviews

#6002 Fix: SSM Agent in GitLab lacks sufficient permissions in its role (#5964)
  UPGRADING.rst
  terraform/gitlab/gitlab.tf.json.template.py
Labels: sandbox, orange, 1 review, upgrade, deploy:gitlab

#5946 Add unit test coverage for DUOS bundles (#5935)
  test/indexer/data/2370f948-2783-aeb6-afea-e022897f4dcf.tdr.anvil.json
  test/indexer/test_anvil.py
Labels: sandbox, orange, 0 reviews

#6019 Upgrade dependencies 2024-03-04 (#6007)
  environment.py
  image_manifests.json
  requirements.all.txt
  requirements.dev.trans.txt
Labels: sandbox, orange, 1 review, reqs, deploy:gitlab, deploy:shared

#6006 Fix: Response security header X-Content-Type-Options is not set (DataBiosphere/azul-private#111)
  src/azul/chalice.py
  test/service/test_app_logging.py
  test/test_app_logging.py
Labels: sandbox, orange, 0 reviews

#5902 Migrate reminders to GitHub schedule (#5733)
  .github/ISSUE_TEMPLATE/audited_events_rule_set_review.md
  .github/ISSUE_TEMPLATE/fedramp_inventory_review.md
  .github/ISSUE_TEMPLATE/gitlab_backups.md
  .github/ISSUE_TEMPLATE/opensearch_updates.md
  .github/ISSUE_TEMPLATE/promotion.md
  .github/ISSUE_TEMPLATE/upgrade.md
  .github/workflows/schedule.py
  test/test_doctests.py
Labels: orange, 1 review, no sandbox

#5987 Track replica hub IDs (#5360)
  environment.py
  src/azul/__init__.py
  src/azul/indexer/document.py
  src/azul/indexer/index_controller.py
  src/azul/indexer/index_service.py
  src/azul/indexer/transform.py
  src/azul/plugins/metadata/anvil/indexer/transform.py
  src/azul/plugins/metadata/hca/indexer/transform.py
  test/indexer/__init__.py
  test/indexer/data/826dea02-e274-affe-aabc-eb3db63ad068.results.json
  test/indexer/data/aaa96233-bf27-44c7-82df-b4dc15ad4d9d.2018-11-02T11:33:44.698028Z.results.json
  test/indexer/test_indexer.py
Labels: sandbox, orange, 0 reviews, reindex:dev, reindex:anvildev, reindex:anvilprod, reindex:prod

#6011 Fix: GitLab builder cache not pruned by prune-images unit (#6009)
  terraform/gitlab/gitlab.tf.json.template.py
Labels: orange, 1 review, no sandbox, deploy:gitlab

#6027 Fix: Missing X-Frame-Options Header (DataBiosphere/azul-private#18)
  src/azul/chalice.py
  test/service/test_app_logging.py
  test/test_app_logging.py
Labels: sandbox, orange, 0 reviews

#6049 Fix: VPC CIDR in dev is wrong (#6045)
  UPGRADING.rst
  deployments/anvildev.gitlab/environment.py
  deployments/anvilprod.gitlab/environment.py
  deployments/dev.gitlab/environment.py
  deployments/prod.gitlab/environment.py
  environment.py
  src/azul/__init__.py
  terraform/gitlab/gitlab.tf.json.template.py
Labels: sandbox, orange, reindex:dev, upgrade, deploy:gitlab

#6052 Fix: VPC CIDR in `prod` is wrong (#6048)
  UPGRADING.rst
  deployments/prod.gitlab/environment.py
Labels: orange, no sandbox, upgrade, reindex:prod, deploy:gitlab

#6037 Make dcp35 the default catalog on prod (#6036)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#6034 Drop dcp1 from prod (#6023)
  deployments/prod/environment.py
  src/azul/plugins/metadata/hca/bundle.py
  src/azul/service/manifest_service.py
Labels: sandbox, orange, 0 reviews, reindex:prod, reindex:partial

#6060 Promotion 2024-03-12 (#6030)
  .github/ISSUE_TEMPLATE/audited_events_rule_set_review.md
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/fedramp_inventory_review.md
  .github/ISSUE_TEMPLATE/gitlab_backups.md
  .github/ISSUE_TEMPLATE/opensearch_updates.md
  .github/ISSUE_TEMPLATE/promotion.md
  .github/ISSUE_TEMPLATE/upgrade.md
  .github/workflows/schedule.py
  OPERATOR.rst
  UPGRADING.rst
  bin/wheels/runtime/attrs-22.2.0-py3-none-any.whl
  bin/wheels/runtime/attrs-23.1.0-py3-none-any.whl
  bin/wheels/runtime/python_dateutil-2.8.2-py2.py3-none-any.whl
  bin/wheels/runtime/python_dateutil-2.9.0.post0-py2.py3-none-any.whl
  deployments/anvildev.gitlab/environment.py
  deployments/anvilprod.gitlab/environment.py
  deployments/dev.gitlab/environment.py
  deployments/prod.gitlab/environment.py
  deployments/prod/environment.py
  environment.py
  image_manifests.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.trans.txt
  requirements.txt
  scripts/reindex.py
  src/azul/__init__.py
  src/azul/chalice.py
  src/azul/deployment.py
  src/azul/indexer/document.py
  src/azul/indexer/document_service.py
  src/azul/indexer/index_controller.py
  src/azul/indexer/index_service.py
  src/azul/indexer/transform.py
  src/azul/plugins/__init__.py
  src/azul/plugins/metadata/anvil/__init__.py
  src/azul/plugins/metadata/anvil/indexer/transform.py
  src/azul/plugins/metadata/hca/bundle.py
  src/azul/plugins/metadata/hca/indexer/transform.py
  src/azul/service/elasticsearch_service.py
  src/azul/service/manifest_service.py
  terraform/gitlab/gitlab.tf.json.template.py
  terraform/shared/shared.tf.json.template.py
  test/indexer/__init__.py
  test/indexer/data/2370f948-2783-aeb6-afea-e022897f4dcf.tdr.anvil.json
  test/indexer/data/826dea02-e274-affe-aabc-eb3db63ad068.results.json
  test/indexer/data/aaa96233-bf27-44c7-82df-b4dc15ad4d9d.2018-11-02T11:33:44.698028Z.results.json
  test/indexer/test_anvil.py
  test/indexer/test_indexer.py
  test/indexer/test_projects.py
  test/integration_test.py
  test/service/__init__.py
  test/service/test_app_logging.py
  test/service/test_manifest.py
  test/service/test_response.py
  test/test_app_logging.py
  test/test_doctests.py
Labels: orange, 1 review, no sandbox, upgrade, reindex:prod, deploy:gitlab, deploy:shared, deploy:runner

#6061 Index dcp36 in prod (#6059)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#6012 Index anvil5 in anvilprod (#6005)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: sandbox, orange, 0 reviews, reindex:anvilprod, reindex:partial

#6065 Fix: VPC CIDR in `anvilprod` is wrong (#6047)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: sandbox, orange, 0 reviews, upgrade, reindex:anvilprod, deploy:gitlab

#6071 Index lm5 in LungMAP (#6068)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#6079 Promotion 2024-03-19 (#6067)
  UPGRADING.rst
  deployments/anvilprod.gitlab/environment.py
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#6020 Use Google team calendar to track operator duty (#6008)
  OPERATOR.rst
Labels: orange, 2 reviews, no sandbox

#6058 Fix: Missing response headers (DataBiosphere/azul-private#135, DataBiosphere/azul-private#18)
  terraform/browser/add_response_security_headers.js
Labels: sandbox, orange, 0 reviews

#6024 Setup CloudWatch alarm for ClamAV notifications (#3895)
  terraform/cloudwatch.tf.json.template.py
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, 1 review, deploy:shared

#6039 Fix: ClamAV fails to complete scan (#6022)
  environment.py
  image_manifests.json
Labels: sandbox, orange, partial, 2 reviews, deploy:gitlab, deploy:shared

#6032 Fix: Cannot locally test azul-docker-pycharm changes (#5986)
  src/azul/docker.py
Labels: sandbox, orange, 0 reviews

#6084 Remove snapshots for duplicate/invalid projects (#6077)
  deployments/prod/environment.py
Labels: orange, 1 review, no sandbox, reindex:prod, reindex:partial

#6093 Enable oauth in `prod` for pilot (#6085)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox

#6100 Fix: VPC CIDR in `anvildev` is wrong (#6046)
  UPGRADING.rst
  deployments/anvildev.gitlab/environment.py
Labels: sandbox, orange, 0 reviews, upgrade, reindex:anvildev, deploy:gitlab
