Repository DataBiosphere/azul, pull requests merged in 2024-04, with the labels that each got.

#6106 Fix: Default manifest name is `hca` for AnVIL (#6101)
  src/azul/service/manifest_service.py
Labels: sandbox, orange, 0 reviews

#6111 Fix: Invalid columns in compact manifest for AnVIL (#6110)
  lambdas/service/app.py
  lambdas/service/openapi.json
  src/azul/plugins/__init__.py
  src/azul/plugins/metadata/anvil/__init__.py
  src/azul/plugins/metadata/anvil/service/response.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/plugins/metadata/hca/service/response.py
  src/azul/service/__init__.py
  src/azul/service/elasticsearch_service.py
  src/azul/service/manifest_service.py
  src/azul/service/repository_service.py
  test/integration_test.py
  test/service/test_manifest.py
  test/service/test_request_builder.py
  test/service/test_response.py
  test/service/test_response_anvil.py
Labels: sandbox, orange, API

#6125 Promotion 2024-04-02 (#6117)
  UPGRADING.rst
  deployments/anvildev.gitlab/environment.py
  lambdas/service/app.py
  lambdas/service/openapi.json
  src/azul/plugins/__init__.py
  src/azul/plugins/metadata/anvil/__init__.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/service/elasticsearch_service.py
  src/azul/service/manifest_service.py
  test/integration_test.py
  test/service/test_manifest.py
Labels: orange, API, no sandbox

#6089 Fix: Metric alarm api_unauthorized is not firing for some hits (#5884)
  terraform/shared/shared.tf.json.template.py
Labels: orange, 1 review, no sandbox, deploy:shared

#6135 Fix: Indexing a document automatically creates an index (#5675)
  terraform/.terraform.lock.hcl
  terraform/_schema.json.gz
  terraform/elasticsearch.tf.json.template.py
  terraform/providers.tf.json.template.py
  test/es_test_case.py
  test/indexer/test_indexer.py
  test/integration_test.py
Labels: sandbox, orange

#6136 Fix: Incorrect docs on passing filters in request body (#6124)
  lambdas/service/app.py
  lambdas/service/openapi.json
Labels: sandbox, orange

#6143 Make dcp36 the default catalog on prod (#6128)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#6148 Index dcp37 in prod (#6145)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#6151 Fix: Alarm api_unauthorized for HeadBucket/Object from SSM agent (#6141)
  terraform/gitlab/gitlab.tf.json.template.py
Labels: sandbox, orange, 1 review, deploy:gitlab

#6149 Fix: Alarm `api_unauthorized` for Get/HeadObject from CloudFront (#6132)
  terraform/browser/browser.tf.json.template.py
Labels: sandbox, orange, 2 reviews

#6153 Fix: Alarm api_unauthorized for Get/HeadObject from CloudFront (#6132)
  terraform/browser/browser.tf.json.template.py
Labels: sandbox, orange, 0 reviews

#6154 Enable DUOS dataset descriptions in anvilprod (#6119)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: orange, 0 reviews, reindex:anvilprod

#6157 Index pilot1 in prod (#6156)
  deployments/prod/environment.py
Labels: orange, 1 review, no sandbox, reindex:prod, reindex:partial

#6162 Promotion 2024-04-09 (#6144)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  lambdas/service/app.py
  lambdas/service/openapi.json
  src/azul/plugins/__init__.py
  src/azul/plugins/metadata/anvil/__init__.py
  src/azul/plugins/metadata/anvil/service/response.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/plugins/metadata/hca/service/response.py
  src/azul/service/__init__.py
  src/azul/service/elasticsearch_service.py
  src/azul/service/manifest_service.py
  src/azul/service/repository_service.py
  terraform/.terraform.lock.hcl
  terraform/_schema.json.gz
  terraform/browser/browser.tf.json.template.py
  terraform/elasticsearch.tf.json.template.py
  terraform/gitlab/gitlab.tf.json.template.py
  terraform/providers.tf.json.template.py
  terraform/shared/shared.tf.json.template.py
  test/es_test_case.py
  test/indexer/test_indexer.py
  test/integration_test.py
  test/service/test_manifest.py
  test/service/test_request_builder.py
  test/service/test_response.py
  test/service/test_response_anvil.py
Labels: orange, API, no sandbox, reindex:prod, deploy:gitlab, deploy:shared, reindex:partial

#6074 Emit replicas for HCA links (#6073)
  src/azul/plugins/metadata/hca/indexer/transform.py
  test/indexer/data/aaa96233-bf27-44c7-82df-b4dc15ad4d9d.2018-11-02T11:33:44.698028Z.results.json
  test/indexer/test_indexer.py
  test/service/test_manifest.py
Labels: sandbox, orange, 1 review, reindex:dev, reindex:prod

#6158 Fix: Invalid IAM permission actions specified in policies (#6152)
  src/azul/service/lambda_iam_policy.py
  terraform/gitlab/gitlab.tf.json.template.py
Labels: sandbox, orange, 1 review, deploy:gitlab

#6088 Fix: Log messages from docker exec are not prefixed with container name (#6015)
  terraform/gitlab/gitlab.tf.json.template.py
Labels: sandbox, orange, 1 review, deploy:gitlab

#6155 Fix: Rebooting GitLab may trigger ClamAV alarm (#6114)
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, 2 reviews, deploy:shared

#6180 Make `anvilprod` a stable deployment; other CL fixes (#6147, #6035, #5839)
  .github/ISSUE_TEMPLATE/gitlab_backups.md
  .github/ISSUE_TEMPLATE/opensearch_updates.md
  .github/ISSUE_TEMPLATE/promotion.md
  .github/ISSUE_TEMPLATE/upgrade.md
  .github/Makefile
  .github/PULL_REQUEST_TEMPLATE/anvilprod-hotfix.md
  .github/PULL_REQUEST_TEMPLATE/anvilprod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/backport.md
  .github/PULL_REQUEST_TEMPLATE/prod-hotfix.md
  .github/PULL_REQUEST_TEMPLATE/prod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/upgrade.md
  .github/pull_request_template.md
  .github/pull_request_template.md.template.py
  OPERATOR.rst
  environment.py
  src/azul/__init__.py
Labels: orange, no sandbox

#6188 Hotfix prod: Index lm6 in LungMAP (#6186)
  deployments/prod/environment.py
Labels: orange, no sandbox, hotfix, reindex:lmprod, reindex:partial

#6166 Fix: Alarm api_unauthorized for HeadBucket/Object from SSM agent (#6141)
  terraform/gitlab/gitlab.tf.json.template.py
Labels: sandbox, orange, 2 reviews, deploy:gitlab

#6198 Hotfix prod: Index lm6 in LungMAP (#6186)
  deployments/prod/environment.py
Labels: orange, no sandbox, hotfix, reindex:prod, reindex:partial

#6194 Backport: b1640f9c (#6186, PR #6188) and 8946e46e (#6186, PR #6198)
  deployments/prod/environment.py
Labels: orange, no sandbox

#6193 Make dcp37 the default catalog on prod (#6178)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#6175 Fix: Inspector findings export not sorted correctly (#6170)
  scripts/export_inspector_findings.py
Labels: orange, 1 review, no sandbox

#6115 Create PFB-based verbatim manifest format for AnVIL (#6040)
  lambdas/service/app.py
  lambdas/service/openapi.json
  src/azul/plugins/__init__.py
  src/azul/plugins/metadata/anvil/__init__.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/service/avro_pfb.py
  src/azul/service/manifest_service.py
  test/indexer/__init__.py
  test/integration_test.py
  test/pfb_test_case.py
  test/service/data/verbatim/pfb_entities.json
  test/service/data/verbatim/pfb_schema.json
  test/service/test_manifest.py
Labels: sandbox, orange, API, 2 reviews, base

#6113 Add cache-control headers to responses (#6096)
  lambdas/indexer/app.py
  lambdas/service/app.py
  src/azul/chalice.py
  terraform/browser/add_response_headers.js
  test/integration_test.py
  test/service/test_app_logging.py
  test/test_app_logging.py
Labels: sandbox, orange, 4+ reviews

#6182 Fix: Throttle alarm during two-catalog reindex in anvilprod (#6161)
  lambdas/indexer/app.py
Labels: sandbox, orange, 1 review

#6202 Index anvil6 in anvilprod; remove anvil4 (#6179, #6181, #6206)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: orange, 1 review, no sandbox, reindex:anvilprod, reindex:partial

#6209 Fix: SecurityHub control CloudWatch.2 is failing (#6204)
  terraform/shared/shared.tf.json.template.py
Labels: orange, 0 reviews, no sandbox, deploy:shared

#6210 Make lm6 the default catalog for LungMAP prod (#6200)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:lmprod, reindex:partial

#6094 Move bigquery-emulator to DataBiosphere (#5905)
  .github/ISSUE_TEMPLATE/upgrade.md
  .github/PULL_REQUEST_TEMPLATE/anvilprod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/prod-promotion.md
  .github/pull_request_template.md.template.py
  environment.py
  image_manifests.json
Labels: sandbox, orange, 1 review, deploy:shared
