Repository DataBiosphere/azul, pull requests merged in 2024-05, with the labels that each got.

#6192 Disable split tunneling for GitLab VPN in prod and anvilprod (DataBiosphere/azul-private#133)
  UPGRADING.rst
  environment.py
  src/azul/__init__.py
  terraform/gitlab/gitlab.tf.json.template.py
  terraform/gitlab/vpn/Makefile
  test/integration_test.py
Labels: sandbox, orange, 2 reviews, upgrade, deploy:gitlab

#6223 Fix: Terraform fails to apply security group egress rule (#6222)
  terraform/gitlab/gitlab.tf.json.template.py
Labels: orange, 0 reviews, no sandbox, deploy:gitlab

#6165 Fix: data-browser: Content Security Policy (CSP) Not Implemented (DataBiosphere/azul-private#6)
  UPGRADING.rst
  deployments/anvilbox/environment.py
  deployments/anvildev/environment.py
  deployments/anvilprod/environment.py
  deployments/dev/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  deployments/sandbox/environment.py
  environment.py
  src/azul/__init__.py
  terraform/browser/add_response_headers.js
  terraform/browser/browser.tf.json.template.py
Labels: sandbox, orange, 4+ reviews, upgrade

#6221 Fix: update_subgraph_counts.py fails for ANVIL_T2T_CHRY dataset (#6206)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
  scripts/update_subgraph_counts.py
  src/azul/indexer/__init__.py
  src/azul/plugins/__init__.py
  src/azul/plugins/repository/tdr_anvil/__init__.py
  src/azul/plugins/repository/tdr_hca/__init__.py
  test/integration_test.py
Labels: sandbox, orange, 2 reviews, reindex:anvilprod, reindex:partial

#6021 Add ability to filter on `accessible` facet (#5999)
  lambdas/service/app.py
  lambdas/service/openapi.json
  src/azul/plugins/__init__.py
  src/azul/plugins/metadata/anvil/service/filter.py
  src/azul/plugins/metadata/hca/service/filter.py
  src/azul/service/__init__.py
  src/azul/service/elasticsearch_service.py
  src/azul/service/repository_controller.py
  src/azul/service/repository_service.py
  test/azul_test_case.py
  test/integration_test.py
  test/service/test_filters.py
  test/service/test_response.py
Labels: sandbox, orange, API, 0 reviews, do not promote

#6233 Increase threshold for "unauthorized" metric alarm (#6220)
  terraform/shared/shared.tf.json.template.py
Labels: orange, 1 review, no sandbox, deploy:shared

#6245 Allow for specific IPs to bypass WAF (#6243, #6244)
  src/azul/__init__.py
  terraform/api_gateway.tf.json.template.py
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, partial, deploy:shared

#6171 Add managed-access integration test for verbatim manifests (#6098)
  test/integration_test.py
Labels: sandbox, orange, 1 review

#6228 Delete hammerbox ES domain (#6218)
  UPGRADING.rst
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: sandbox, orange, 1 review, upgrade, reindex:anvilprod, reindex:partial

#6080 Fix: test_replica_update fails in prod (#6062)
  test/azul_test_case.py
  test/indexer/test_indexer.py
  test/service/test_manifest.py
Labels: sandbox, orange, 0 reviews

#6003 Fix: Race between manifest object creation and application of tags (#5958)
  src/azul/__init__.py
  src/azul/service/async_manifest_service.py
  src/azul/service/manifest_service.py
  terraform/api_gateway.tf.json.template.py
  test/integration_test.py
Labels: sandbox, orange, 2 reviews

#6250 Index lm7 in LungMAP (#6249)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:lmprod, reindex:partial

#6251 Index dcp38 in prod (#6248)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#6235 Fix: missing terms facet for projects.tissueAtlas (#5519)
  lambdas/service/app.py
  lambdas/service/openapi.json
  src/azul/indexer/document.py
  src/azul/indexer/document_service.py
  src/azul/service/elasticsearch_service.py
  test/service/test_request_builder.py
  test/service/test_response.py
Labels: sandbox, orange, API, 0 reviews

#6247 Backport: f632b1d4 (#6239)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: orange, 1 review, no sandbox

#6267 Fix: AssertionError with null in accessible filter (#6265)
  lambdas/service/app.py
  lambdas/service/openapi.json
  test/service/test_request_validation.py
Labels: sandbox, orange, API, 0 reviews

#6262 Add unit test coverage for _list_bundles (#6010)
  test/azul_test_case.py
  test/indexer/__init__.py
  test/indexer/data/1b6d8348-d6e9-406a-aa6a-7ee886e52bf9.tdr.hca.json
  test/indexer/data/4426adc5-b3c5-5aab-ab86-51d8ce44dfbe.tables.tdr.json
  test/indexer/data/4426adc5-b3c5-5aab-ab86-51d8ce44dfbe.tdr.hca.json
  test/indexer/data/6b0f6c0f-5d80-a242-accb-840921351cd5.tables.tdr.json
  test/indexer/data/6b0f6c0f-5d80-a242-accb-840921351cd5.tdr.anvil.json
  test/indexer/data/6c87f0e1-509d-46a4-b845-7584df39263b.tables.tdr.json
  test/indexer/data/826dea02-e274-affe-aabc-eb3db63ad068.results.json
  test/indexer/data/826dea02-e274-affe-aabc-eb3db63ad068.tdr.anvil.json
  test/indexer/data/d8c20944-739f-4e7d-9161-b720953432ce.tables.tdr.json
  test/indexer/test_anvil.py
  test/indexer/test_tdr.py
  test/service/data/verbatim/pfb_entities.json
  test/service/test_manifest.py
  test/service/test_response_anvil.py
Labels: sandbox, orange, 0 reviews

#6266 Make anvil6 the default catalog and remove anvil5 (#6264)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:anvilprod, reindex:partial

#6236 All bucket names should default to qualified_bucket_name() (#4655)
  UPGRADING.rst
  deployments/anvilbox/environment.py
  deployments/anvildev/environment.py
  deployments/anvilprod/environment.py
  deployments/dev/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  deployments/sandbox/environment.py
  environment.py
  src/azul/__init__.py
  src/azul/deployment.py
  src/azul/health.py
  src/azul/indexer/lambda_iam_policy.py
  src/azul/service/lambda_iam_policy.py
  src/azul/service/manifest_service.py
  src/azul/service/storage_service.py
  terraform/s3.tf.json.template.py
  test/azul_test_case.py
  test/dynamodb_test_case.py
  test/health_check_test_case.py
  test/service/__init__.py
  test/service/test_manifest.py
  test/service/test_portal_service.py
  test/service/test_repository_files.py
  test/service/test_source_cache.py
  test/service/test_storage_service.py
  test/test_log_forwarding.py
  test/version_table_test_case.py
Labels: sandbox, orange, upgrade

#6285 Fix: Spurious update to opensearch_cluster_settings yields 401 (#6278)
  scripts/manage_cluster_settings.py
  scripts/rename_resources.py
  src/azul/terraform.py
  terraform/Makefile
  terraform/elasticsearch.tf.json.template.py
  terraform/providers.tf.json.template.py
Labels: sandbox, orange, partial

#6279 Fix: Promotions fail in hammerbox with dirty requirements (#6239)
  .github/PULL_REQUEST_TEMPLATE/anvilprod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/prod-hotfix.md
  .github/pull_request_template.md.template.py
  .gitlab-ci.yml
  UPGRADING.rst
  deployments/anvilbox/environment.py
  deployments/hammerbox/environment.py
  deployments/sandbox/environment.py
  environment
  environment.py
  scripts/check_branch.py
  scripts/update_subgraph_counts.py
  src/azul/__init__.py
  src/azul/__main__.py
  src/azul/indexer/index_service.py
  src/azul/portal_service.py
  terraform/gitlab/gitlab.tf.json.template.py
  test/integration_test.py
  test/test_check_branch.py
Labels: sandbox, orange, deploy:gitlab, deploy:shared

#6288 Fix: Various snapshots in anvil6 have defects (#6281)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:anvilprod, reindex:partial

#6298 Fix: Transient IT failure during managed_access_repository_sources (#6168)
  test/integration_test.py
Labels: sandbox, orange

#6301 Make dcp38 the default catalog on prod (#6286)
  deployments/prod/environment.py
Labels: orange, reindex:dev, no sandbox, reindex:prod, reindex:partial

#6280 Remove outdated `hammerbox` ES section in opensearch_updates.md (#6272)
  .github/ISSUE_TEMPLATE/opensearch_updates.md
Labels: orange, 0 reviews, no sandbox

#6304 Index lm7 in LungMAP (#6249)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:lmprod, reindex:partial

#6297 Fix: Increase threshold for "unauthorized" metric alarm (#6220)
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, 0 reviews, deploy:shared
