Repository DataBiosphere/azul, pull requests merged in 2024-08, with the labels that each got.

#6465 Promotion 2024-07-30 prod (#6455)
  UPGRADING.rst
  environment.boot
  environment.py
  image_manifests.json
  lambdas/service/app.py
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.dev.txt
  requirements.pip.txt
  src/azul/chalice.py
  swagger/oauth2-redirect.html.template.mustache
  swagger/swagger-ui.html.template.mustache
  terraform/_schema.json.gz
  terraform/gitlab/gitlab.tf.json.template.py
  test/service/test_app_logging.py
  test/test_app_logging.py
Labels: orange, no sandbox, deploy:gitlab, deploy:shared, deploy:runner, backup:gitlab

#6163 Create PFB-based verbatim manifest format for HCA (#6122)
  lambdas/service/openapi.json
  scripts/kibana_proxy.py
  src/azul/__init__.py
  src/azul/indexer/index_service.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/service/avro_pfb.py
  test/azul_test_case.py
  test/service/data/verbatim/anvil/pfb_entities.json
  test/service/data/verbatim/anvil/pfb_schema.json
  test/service/data/verbatim/hca/pfb_entities.json
  test/service/data/verbatim/hca/pfb_schema.json
  test/service/test_manifest.py
Labels: sandbox, orange, API, 0 reviews

#6464 Promotion 2024-07-30 anvilprod (#6455)
  UPGRADING.rst
  environment.boot
  environment.py
  image_manifests.json
  lambdas/service/app.py
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.dev.txt
  requirements.pip.txt
  src/azul/chalice.py
  swagger/oauth2-redirect.html.template.mustache
  swagger/swagger-ui.html.template.mustache
  terraform/_schema.json.gz
  terraform/gitlab/gitlab.tf.json.template.py
  test/service/test_app_logging.py
  test/test_app_logging.py
Labels: sandbox, orange, deploy:gitlab, deploy:shared, deploy:runner, backup:gitlab

#6473 Hotfix anvilprod: Temporarily make Noa code owner (#6472)
  .github/CODEOWNERS
Labels: orange, partial, hotfix

#6474 Hotfix prod: Temporarily make Noa code owner (#6472)
  .github/CODEOWNERS
Labels: orange, partial, hotfix

#6471 Hotfix anvilprod: Swagger UI authorization fails (#6469)
  lambdas/service/app.py
  src/azul/chalice.py
  swagger/oauth2-redirect.html
  swagger/swagger-ui.html.template.mustache
  test/service/test_app_logging.py
  test/test_app_logging.py
Labels: sandbox, orange, hotfix

#6470 Hotfix prod: Swagger UI authorization fails (#6469)
  lambdas/service/app.py
  src/azul/chalice.py
  swagger/oauth2-redirect.html
  swagger/swagger-ui.html.template.mustache
  test/service/test_app_logging.py
  test/test_app_logging.py
Labels: orange, no sandbox, hotfix

#6481 Backport: da61cf06 (#6469, PR #6470) and bb30a67d (#6469, PR #6471)
  lambdas/service/app.py
  src/azul/chalice.py
  swagger/oauth2-redirect.html
  swagger/swagger-ui.html.template.mustache
  test/service/test_app_logging.py
  test/test_app_logging.py
Labels: sandbox, orange

#6435 Fix: Unable to override azul_current_sources on GitLab (#6342)
  environment.py
  src/azul/__init__.py
Labels: sandbox, orange, 1 review

#6463 Make anvil7 the default catalog and remove anvil6 (#6456)
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: orange, no sandbox, reindex:anvilprod, reindex:partial

#6462 Make dcp40 the default catalog on prod (#6457)
  deployments/prod/environment.py
Labels: orange, 1 review, no sandbox, reindex:prod, reindex:partial

#6438 Reduce noisy unauthorized alarms caused by AWS Config (#6134)
  terraform/shared/shared.tf.json.template.py
Labels: orange, 1 review, no sandbox, deploy:shared

#6486 Promotion 2024-08-06 prod (#6479)
  .github/CODEOWNERS
  UPGRADING.rst
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  environment.boot
  environment.py
  image_manifests.json
  lambdas/service/openapi.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.trans.txt
  scripts/kibana_proxy.py
  src/azul/__init__.py
  src/azul/indexer/index_service.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/service/avro_pfb.py
  terraform/_schema.json.gz
  terraform/gitlab/gitlab.tf.json.template.py
  terraform/shared/shared.tf.json.template.py
  test/azul_test_case.py
  test/service/data/verbatim/anvil/pfb_entities.json
  test/service/data/verbatim/anvil/pfb_schema.json
  test/service/data/verbatim/hca/pfb_entities.json
  test/service/data/verbatim/hca/pfb_schema.json
  test/service/data/verbatim/pfb_entities.json
  test/service/data/verbatim/pfb_schema.json
  test/service/test_manifest.py
Labels: orange, API, no sandbox, reqs, reindex:prod, deploy:gitlab, deploy:shared, reindex:partial, deploy:runner, backup:gitlab

#6487 Promotion 2024-08-06 anvilprod (#6479)
  .github/CODEOWNERS
  UPGRADING.rst
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  environment.boot
  environment.py
  image_manifests.json
  lambdas/service/openapi.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.trans.txt
  scripts/kibana_proxy.py
  src/azul/__init__.py
  src/azul/indexer/index_service.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/service/avro_pfb.py
  terraform/_schema.json.gz
  terraform/gitlab/gitlab.tf.json.template.py
  test/azul_test_case.py
  test/service/data/verbatim/anvil/pfb_entities.json
  test/service/data/verbatim/anvil/pfb_schema.json
  test/service/data/verbatim/hca/pfb_entities.json
  test/service/data/verbatim/hca/pfb_schema.json
  test/service/data/verbatim/pfb_entities.json
  test/service/data/verbatim/pfb_schema.json
  test/service/test_manifest.py
Labels: sandbox, orange, API, reqs, reindex:anvilprod, deploy:gitlab, deploy:shared, reindex:partial, deploy:runner, backup:gitlab

#6488 Hotfix prod: Revert "Reduce noisy unauthorized alarms caused by AWS Config (#6134, PR #6438)"
  terraform/shared/shared.tf.json.template.py
Labels: orange, no sandbox, hotfix, deploy:shared

#6489 Backport: 86bbc9c7 (#6134, PR #6488)
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, deploy:shared

#6440 Schedule monthly review of publicly accessible content (#6051)
  .github/ISSUE_TEMPLATE/audited_events_rule_set_review.md
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/fedramp_inventory_review.md
  .github/ISSUE_TEMPLATE/opensearch_updates.md
  .github/ISSUE_TEMPLATE/promotion.md
  .github/ISSUE_TEMPLATE/public_access_content_review.md
  .github/ISSUE_TEMPLATE/upgrade.md
Labels: orange, 0 reviews, no sandbox

#6445 Clean-up and generalize TDR source specs (#6426)
  OPERATOR.rst
  UPGRADING.rst
  deployments/anvilbox/environment.py
  deployments/anvildev/environment.py
  deployments/anvilprod/environment.py
  deployments/dev/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  deployments/sandbox/environment.py
  deployments/tempdev/environment.py
  environment.py
  scripts/post_deploy_tdr.py
  scripts/recan_bundle_tdr.py
  scripts/update_subgraph_counts.py
  src/azul/plugins/repository/tdr_hca/__init__.py
  src/azul/terra.py
  test/azul_test_case.py
  test/indexer/data/826dea02-e274-affe-aabc-eb3db63ad068.results.json
  test/indexer/test_tdr.py
  test/service/test_manifest.py
  test/service/test_repository_files.py
  test/service/test_response_anvil.py
Labels: sandbox, orange, 1 review, base, reindex:dev, upgrade, reindex:anvildev, reindex:anvilprod, reindex:prod

#6490 Upgrade dependencies 2024-08-05 (#6468)
  UPGRADING.rst
  bin/wheels/runtime/cffi-1.16.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/cffi-1.17.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/google_resumable_media-2.7.1-py2.py3-none-any.whl
  bin/wheels/runtime/google_resumable_media-2.7.2-py2.py3-none-any.whl
  bin/wheels/runtime/grpcio_status-1.62.2-py3-none-any.whl
  bin/wheels/runtime/grpcio_status-1.62.3-py3-none-any.whl
  environment.boot
  environment.py
  image_manifests.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.trans.txt
  terraform/_schema.json.gz
Labels: sandbox, orange, upgrade, deploy:gitlab, deploy:shared, backup:gitlab

#6412 Fix: Service responses are not compressed (#6360)
  lambdas/indexer/.chalice/config.json.template.py
  lambdas/service/.chalice/config.json.template.py
  src/azul/terraform.py
Labels: sandbox, orange, 1 review

#6500 Fix: Alarm api_unauthorized for HeadBucket from AWS Config (#6134)
  terraform/shared/shared.tf.json.template.py
Labels: orange, partial, 0 reviews, no sandbox, deploy:shared

#6405 Fix: Execution of untrusted code when cloning Git submodule (CVE-2024-32002) (#6352)
  Dockerfile
  environment.boot
  environment.py
  image_manifests.json
  requirements.all.txt
  requirements.dev.trans.txt
Labels: sandbox, orange, 0 reviews, reqs, deploy:shared

#6482 Fix: Inconsistent null count in tissue atlas term facet (#6458)
  src/azul/service/elasticsearch_service.py
  test/service/test_response.py
Labels: sandbox, orange, 0 reviews

#6322 Switch to NIST 800-53 r5 standard in SecurityHub (#6203)
  scripts/rename_resources.py
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, 1 review, deploy:shared

#6512 Promotion 2024-08-20 anvilprod (#6509)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/audited_events_rule_set_review.md
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/fedramp_inventory_review.md
  .github/ISSUE_TEMPLATE/opensearch_updates.md
  .github/ISSUE_TEMPLATE/promotion.md
  .github/ISSUE_TEMPLATE/public_access_content_review.md
  .github/ISSUE_TEMPLATE/upgrade.md
  OPERATOR.rst
  UPGRADING.rst
  bin/wheels/runtime/cffi-1.16.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/cffi-1.17.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/google_resumable_media-2.7.1-py2.py3-none-any.whl
  bin/wheels/runtime/google_resumable_media-2.7.2-py2.py3-none-any.whl
  bin/wheels/runtime/grpcio_status-1.62.2-py3-none-any.whl
  bin/wheels/runtime/grpcio_status-1.62.3-py3-none-any.whl
  deployments/anvilbox/environment.py
  deployments/anvildev/environment.py
  deployments/anvilprod/environment.py
  deployments/dev/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  deployments/sandbox/environment.py
  deployments/tempdev/environment.py
  environment.boot
  environment.py
  image_manifests.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.trans.txt
  scripts/post_deploy_tdr.py
  scripts/recan_bundle_tdr.py
  scripts/update_subgraph_counts.py
  src/azul/plugins/repository/tdr_hca/__init__.py
  src/azul/terra.py
  terraform/_schema.json.gz
  test/azul_test_case.py
  test/indexer/data/826dea02-e274-affe-aabc-eb3db63ad068.results.json
  test/indexer/test_tdr.py
  test/service/test_manifest.py
  test/service/test_repository_files.py
  test/service/test_response_anvil.py
Labels: sandbox, orange, upgrade, reindex:anvilprod, deploy:gitlab, deploy:shared, backup:gitlab

#6513 Promotion 2024-08-20 prod (#6509)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/audited_events_rule_set_review.md
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/fedramp_inventory_review.md
  .github/ISSUE_TEMPLATE/opensearch_updates.md
  .github/ISSUE_TEMPLATE/promotion.md
  .github/ISSUE_TEMPLATE/public_access_content_review.md
  .github/ISSUE_TEMPLATE/upgrade.md
  OPERATOR.rst
  UPGRADING.rst
  bin/wheels/runtime/cffi-1.16.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/cffi-1.17.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/google_resumable_media-2.7.1-py2.py3-none-any.whl
  bin/wheels/runtime/google_resumable_media-2.7.2-py2.py3-none-any.whl
  bin/wheels/runtime/grpcio_status-1.62.2-py3-none-any.whl
  bin/wheels/runtime/grpcio_status-1.62.3-py3-none-any.whl
  deployments/anvilbox/environment.py
  deployments/anvildev/environment.py
  deployments/anvilprod/environment.py
  deployments/dev/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  deployments/sandbox/environment.py
  deployments/tempdev/environment.py
  environment.boot
  environment.py
  image_manifests.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.trans.txt
  scripts/post_deploy_tdr.py
  scripts/recan_bundle_tdr.py
  scripts/update_subgraph_counts.py
  src/azul/plugins/repository/tdr_hca/__init__.py
  src/azul/terra.py
  terraform/_schema.json.gz
  test/azul_test_case.py
  test/indexer/data/826dea02-e274-affe-aabc-eb3db63ad068.results.json
  test/indexer/test_tdr.py
  test/service/test_manifest.py
  test/service/test_repository_files.py
  test/service/test_response_anvil.py
Labels: orange, no sandbox, upgrade, reindex:prod, deploy:gitlab, deploy:shared, backup:gitlab

#6460 Fix: Base image of Azul image is not pinned to digest (#6446)
  .github/PULL_REQUEST_TEMPLATE/anvilprod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/prod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/upgrade.md
  .github/pull_request_template.md
  .github/pull_request_template.md.template.py
  .github/workflows/ci.yml
  Makefile
  UPGRADING.rst
  bin/wheels/runtime/idna-3.7-py3-none-any.whl
  bin/wheels/runtime/idna-3.8-py3-none-any.whl
  docker_images.json
  environment
  environment.boot
  environment.py
  image_manifests.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.trans.txt
  scripts/generate_environment_boot.py
  scripts/manage_images.py
  src/azul/__init__.py
  src/azul/docker.py
  terraform/gitlab/gitlab.tf.json.template.py
  terraform/gitlab/runner/Dockerfile
  terraform/gitlab/runner/Makefile
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, reqs, upgrade, deploy:gitlab, deploy:shared, deploy:runner

#6524 Promotion 2024-08-27 anvilprod (#6519)
  Dockerfile
  deployments/prod/environment.py
  environment.boot
  environment.py
  image_manifests.json
  lambdas/indexer/.chalice/config.json.template.py
  lambdas/service/.chalice/config.json.template.py
  requirements.all.txt
  requirements.dev.trans.txt
  src/azul/plugins/metadata/hca/indexer/transform.py
  src/azul/service/elasticsearch_service.py
  src/azul/service/manifest_service.py
  src/azul/terraform.py
  terraform/shared/shared.tf.json.template.py
  test/indexer/data/aaa96233-bf27-44c7-82df-b4dc15ad4d9d.2018-11-02T11:33:44.698028Z.results.json
  test/service/data/verbatim/hca/pfb_entities.json
  test/service/data/verbatim/hca/pfb_schema.json
  test/service/test_manifest.py
  test/service/test_response.py
Labels: sandbox, orange, deploy:shared

#6530 Fix: Many uninformative fields in API Gateway access logs (#6399)
  terraform/api_gateway.tf.json.template.py
Labels: sandbox, orange, 0 reviews

#6527 Fix: WAF IPSet for blocked IP addresses has unqualified name (#6244)
  terraform/shared/shared.tf.json.template.py
Labels: sandbox, orange, 0 reviews, deploy:shared

#6525 Promotion 2024-08-27 prod (#6519)
  Dockerfile
  deployments/prod/environment.py
  environment.boot
  environment.py
  image_manifests.json
  lambdas/indexer/.chalice/config.json.template.py
  lambdas/service/.chalice/config.json.template.py
  requirements.all.txt
  requirements.dev.trans.txt
  src/azul/plugins/metadata/hca/indexer/transform.py
  src/azul/service/elasticsearch_service.py
  src/azul/service/manifest_service.py
  src/azul/terraform.py
  terraform/shared/shared.tf.json.template.py
  test/indexer/data/aaa96233-bf27-44c7-82df-b4dc15ad4d9d.2018-11-02T11:33:44.698028Z.results.json
  test/service/data/verbatim/hca/pfb_entities.json
  test/service/data/verbatim/hca/pfb_schema.json
  test/service/test_manifest.py
  test/service/test_response.py
Labels: orange, 1 review, no sandbox, reindex:prod, deploy:shared
