Repository DataBiosphere/azul, pull requests merged in 2025-06, with the labels that each got.

#7178 Index anvil10 in anvilprod (#7168)
  deployments/anvilbox/environment.py
  deployments/anvildev/environment.py
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
Labels: sandbox, orange, 0 reviews, reindex:anvilprod, reindex:partial

#7200 Reindex updated lm9 in LungMAP (#7198)
  deployments/prod/environment.py
Labels: orange, 0 reviews, no sandbox, reindex:prod, reindex:partial

#7129 Fix schema validation (#6666)
  src/humancellatlas/data/metadata/helpers/schema_validation.py
  test/hca_metadata_api/test.py
Labels: sandbox, orange, 3 reviews

#7206 Promotion 2025-06-03 anvilprod (#7197)
  .github/PULL_REQUEST_TEMPLATE/anvilprod-hotfix.md
  .github/PULL_REQUEST_TEMPLATE/anvilprod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/backport.md
  .github/PULL_REQUEST_TEMPLATE/prod-hotfix.md
  .github/PULL_REQUEST_TEMPLATE/prod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/upgrade.md
  .github/pull_request_template.md
  .github/pull_request_template.md.template.py
  deployments/anvilbox/environment.py
  deployments/anvildev/environment.py
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
Labels: sandbox, orange, reindex:anvilprod, reindex:partial

#7207 Promotion 2025-06-03 prod (#7197)
  .github/PULL_REQUEST_TEMPLATE/anvilprod-hotfix.md
  .github/PULL_REQUEST_TEMPLATE/anvilprod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/backport.md
  .github/PULL_REQUEST_TEMPLATE/prod-hotfix.md
  .github/PULL_REQUEST_TEMPLATE/prod-promotion.md
  .github/PULL_REQUEST_TEMPLATE/upgrade.md
  .github/pull_request_template.md
  .github/pull_request_template.md.template.py
  deployments/anvilbox/environment.py
  deployments/anvildev/environment.py
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
Labels: orange, no sandbox, reindex:prod, reindex:partial

#7106 Improve handling of fail queues (#6781)
  lambdas/indexer/openapi.json
  lambdas/service/openapi.json
  scripts/reindex.py
  src/azul/__init__.py
  src/azul/azulclient.py
  src/azul/health.py
  src/azul/queues.py
  test/indexer/test_index_controller.py
  test/indexer/test_mirror_controller.py
  test/integration_test.py
  test/sqs_test_case.py
Labels: sandbox, orange, 2 reviews

#7179 Fix: Indexed content types contain dcp-type MIME parameter twice (#7130)
  src/azul/indexer/mirror_service.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/plugins/repository/tdr_hca/__init__.py
  test/indexer/data/1b6d8348-d6e9-406a-aa6a-7ee886e52bf9.tdr.hca.json
  test/indexer/data/4426adc5-b3c5-5aab-ab86-51d8ce44dfbe.tdr.hca.json
  test/indexer/data/d8c20944-739f-4e7d-9161-b720953432ce.tables.tdr.json
Labels: sandbox, orange, 2 reviews, reindex:dev, reindex:prod

#7216 Fix: Notifications about GL disk use alarms lack deployment name in subject (#6684)
  terraform/gitlab/gitlab.tf.json.template.py
Labels: sandbox, orange, 2 reviews, deploy:gitlab

#7196 Improve mirroring IT (#7145)
  src/azul/indexer/mirror_controller.py
  src/azul/indexer/mirror_service.py
  src/azul/service/storage_service.py
  test/indexer/test_mirror_controller.py
  test/integration_test.py
  test/service/test_repository_files.py
Labels: sandbox, orange, 1 review

#7235 Promotion 2025-06-17 prod (#7227)
  bin/wheels/runtime/boto3-1.38.16-py3-none-any.whl
  bin/wheels/runtime/boto3-1.38.26-py3-none-any.whl
  bin/wheels/runtime/fastavro-1.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/fastavro-1.11.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/google_auth-2.40.1-py2.py3-none-any.whl
  bin/wheels/runtime/google_auth-2.40.2-py2.py3-none-any.whl
  bin/wheels/runtime/http_message_signatures-0.5.0-py3-none-any.whl
  bin/wheels/runtime/http_message_signatures-0.6.1-py3-none-any.whl
  bin/wheels/runtime/protobuf-4.25.7-cp37-abi3-manylinux2014_x86_64.whl
  bin/wheels/runtime/protobuf-4.25.8-cp37-abi3-manylinux2014_x86_64.whl
  bin/wheels/runtime/s3transfer-0.12.0-py3-none-any.whl
  bin/wheels/runtime/s3transfer-0.13.0-py3-none-any.whl
  bin/wheels/runtime/setuptools-80.0.0-py3-none-any.whl
  bin/wheels/runtime/setuptools-80.8.0-py3-none-any.whl
  bin/wheels/runtime/typing_extensions-4.13.2-py3-none-any.whl
  bin/wheels/runtime/typing_extensions-4.14.0-py3-none-any.whl
  deployments/anvilprod/environment.py
  deployments/hammerbox/environment.py
  deployments/prod/environment.py
  docker_images.json
  environment.py
  lambdas/indexer/openapi.json
  lambdas/service/openapi.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.dev.txt
  requirements.pip.txt
  requirements.trans.txt
  requirements.txt
  scripts/manage_queues.py
  scripts/mirror.py
  scripts/reindex.py
  scripts/update_swagger.py
  src/azul/__init__.py
  src/azul/azulclient.py
  src/azul/health.py
  src/azul/indexer/mirror_service.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/plugins/repository/tdr_hca/__init__.py
  src/azul/queues.py
  src/humancellatlas/data/metadata/helpers/schema_validation.py
  swagger/swagger-ui-bundle.js
  terraform/gitlab/gitlab.tf.json.template.py
  test/hca_metadata_api/test.py
  test/indexer/data/1b6d8348-d6e9-406a-aa6a-7ee886e52bf9.tdr.hca.json
  test/indexer/data/4426adc5-b3c5-5aab-ab86-51d8ce44dfbe.tdr.hca.json
  test/indexer/data/d8c20944-739f-4e7d-9161-b720953432ce.tables.tdr.json
  test/indexer/test_index_controller.py
  test/indexer/test_mirror_controller.py
  test/integration_test.py
  test/sqs_test_case.py
Labels: orange, 0 reviews, no sandbox, reqs, upgrade, reindex:prod, deploy:gitlab, deploy:shared, reindex:partial, deploy:runner, backup:gitlab

#7164 Add mirroring to dashboard (#7147)
  scripts/elasticsearch_nodes.py
  terraform/cloudwatch.tf.json.template.py
  terraform/cloudwatch_dashboard.template.json.py
Labels: sandbox, orange, 1 review

#7127 Polymorphic (de)serialization support (#7104)
  .mypy.ini
  lambdas/indexer/app.py
  scripts/mirror_file.py
  scripts/reindex.py
  src/azul/attrs.py
  src/azul/azulclient.py
  src/azul/caching.py
  src/azul/chalice.py
  src/azul/indexer/action_controller.py
  src/azul/indexer/field.py
  src/azul/indexer/index_controller.py
  src/azul/indexer/index_queue_service.py
  src/azul/indexer/index_repository_service.py
  src/azul/indexer/index_service.py
  src/azul/indexer/mirror_controller.py
  src/azul/indexer/mirror_service.py
  src/azul/json.py
  src/azul/plugins/__init__.py
  src/azul/queues.py
  src/azul/schemas.py
  src/azul/service/repository_controller.py
  src/azul/terraform.py
  test/indexer/test_index_controller.py
  test/indexer/test_mirror_controller.py
  test/integration_test.py
  test/service/test_repository_files.py
  test/test_doctests.py
Labels: sandbox, orange

#7236 Promotion 2025-06-17 anvilprod (#7227, #7230, #7243)
  bin/wheels/runtime/boto3-1.38.16-py3-none-any.whl
  bin/wheels/runtime/boto3-1.38.26-py3-none-any.whl
  bin/wheels/runtime/fastavro-1.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/fastavro-1.11.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
  bin/wheels/runtime/google_auth-2.40.1-py2.py3-none-any.whl
  bin/wheels/runtime/google_auth-2.40.2-py2.py3-none-any.whl
  bin/wheels/runtime/http_message_signatures-0.5.0-py3-none-any.whl
  bin/wheels/runtime/http_message_signatures-0.6.1-py3-none-any.whl
  bin/wheels/runtime/protobuf-4.25.7-cp37-abi3-manylinux2014_x86_64.whl
  bin/wheels/runtime/protobuf-4.25.8-cp37-abi3-manylinux2014_x86_64.whl
  bin/wheels/runtime/s3transfer-0.12.0-py3-none-any.whl
  bin/wheels/runtime/s3transfer-0.13.0-py3-none-any.whl
  bin/wheels/runtime/setuptools-80.0.0-py3-none-any.whl
  bin/wheels/runtime/setuptools-80.8.0-py3-none-any.whl
  bin/wheels/runtime/typing_extensions-4.13.2-py3-none-any.whl
  bin/wheels/runtime/typing_extensions-4.14.0-py3-none-any.whl
  deployments/prod/environment.py
  docker_images.json
  environment.py
  lambdas/indexer/openapi.json
  lambdas/service/openapi.json
  requirements.all.txt
  requirements.dev.trans.txt
  requirements.dev.txt
  requirements.pip.txt
  requirements.trans.txt
  requirements.txt
  scripts/manage_queues.py
  scripts/mirror.py
  scripts/reindex.py
  scripts/update_swagger.py
  src/azul/__init__.py
  src/azul/azulclient.py
  src/azul/health.py
  src/azul/indexer/mirror_service.py
  src/azul/plugins/metadata/hca/__init__.py
  src/azul/plugins/repository/tdr_hca/__init__.py
  src/azul/queues.py
  src/azul/terra.py
  src/humancellatlas/data/metadata/helpers/schema_validation.py
  swagger/swagger-ui-bundle.js
  terraform/gitlab/gitlab.tf.json.template.py
  test/hca_metadata_api/test.py
  test/indexer/data/1b6d8348-d6e9-406a-aa6a-7ee886e52bf9.tdr.hca.json
  test/indexer/data/4426adc5-b3c5-5aab-ab86-51d8ce44dfbe.tdr.hca.json
  test/indexer/data/d8c20944-739f-4e7d-9161-b720953432ce.tables.tdr.json
  test/indexer/test_index_controller.py
  test/indexer/test_mirror_controller.py
  test/integration_test.py
  test/sqs_test_case.py
Labels: sandbox, orange, 0 reviews, reqs, upgrade, hotfix, deploy:gitlab, deploy:shared, deploy:runner, backup:gitlab

#7249 Hotfix anvilprod: Two AnVIL snapshots with null in anvil_file.file_size column (#7243)
  src/azul/plugins/repository/tdr_anvil/__init__.py
  test/integration_test.py
Labels: sandbox, orange, partial, hotfix
